<h1>BuggyFire Home Page</h1>
<% if user_signed_in? %>
  <% if current_user.user_type == "manager" %>
    <%= link_to 'Add New Project', new_projectt_path%>
    
  <% end %>
<% end %>
<br><%= link_to 'Show Projects', projectts_path %>
